# 1 print() & comments

In [ ]:
print('Hello, welcome to the first workshop', end=' ')
print('presented by DSC SCET.')
print('Start time is', 10, 'pm')

Hello, welcome to the first workshop presented by DSC SCET.
Start time is 10 pm

In [ ]:
# This is a single line comment
'''
this is 
a 
docstring(multi line comment)
'''
print("That didn't print anything")

That didn't print anything

# 2 Basic data types

## 2.1 Python has basic datatypes like: int, float, string, complex, and boolean

In [ ]:
a = 10          #int
b = 5.2         #float
c = 2 + 3j      #complex
d = "String"    #str
e = True        #bool

In [ ]:
print(a,type(a), sep = '\t')
print(b,type(b), sep = '\t')
print(c,type(c), sep = '\t')
print(d,type(d), len(d), sep = '\t')
print(e,type(e), sep = '\t')

10	<class 'int'>
5.2	<class 'float'>
(2+3j)	<class 'complex'>
String	<class 'str'>	6
True	<class 'bool'>

## 2.2 Typecasting

#### Typecasting int to other types

In [ ]:
a = 10
print(a, type(a))
b = float(a)
print(b, type(b))
c = str(a)
print(c, type(c))

10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>

#### Typecasting float to other types

In [ ]:
a = 12.5
print(a, type(a))
b = int(a)
print(b, type(b))
c = str(a)
print(c, type(c))

12.5 <class 'float'>
12 <class 'int'>
12.5 <class 'str'>

#### Typecasting string to other types

In [ ]:
a = '100'
print(a, type(a))
b = int(a, 2)
print(b, type(b))
c = float(a)
print(c, type(c))

100 <class 'str'>
4 <class 'int'>
100.0 <class 'float'>

## 2.3 Every variable is just a reference to an object in Python

In [ ]:
a = 10
b = a
# print(a, b)
# print('a', id(a), 'b', id(b))
b = 20
print(a, b)
print('a', id(a), 'b', id(b))

10 20
a 10914784 b 10915104

## 2.4 String Methods

In [ ]:
s = "hello world"
print(s.title())          # Capitalize first letters of all words
print(s.capitalize())     # Capitalize the first letter
print(s.upper())          # Convert a string to uppercase; prints "HELLO"
print('HELLO'.lower())    # Convert a string to uppercase; prints "hello"
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip()) # Strip leading and trailing whitespace

Hello World
Hello world
HELLO WORLD
hello
he(ell)(ell)o wor(ell)d
world

In [ ]:
print('hello'.count('h')) #count number of occurrences of substring
print('hello'.find('h'))  #return the first index of the substring if found else return -1
print('he45llo'.isalpha())  #check if the string has only alphabets
print('123'.isdigit())    #check if the string has only digits
print('h#ello123'.isalnum()) #check if the string is alphanumeric
print(' \t '.isspace())     #check if the string is space
print('.'.join(['hello', 'world'])) #join a collection of strings with a string
print('hreow|a|you'.split('|')) #split the string by substring

1
0
False
True
False
True
hello.world
['how', 'are', 'you']

# 3 Operators

## 3.1 Arithmetic Operators

In [ ]:
a, b = 7, 3
print('a+b  = ', a+b)   #Addition
print('a-b  = ', a-b)   #Subtraction
print('a*b  = ', a*b)   #Multiplication
print('a/b  = ', a/b)   #Floating Point Division
print('a//b = ', a//b)  #Integer Division
print('a%b  = ', a%b)   #Modulus
print('a**b = ', a**b)  #Exponent

a+b  =  10
a-b  =  4
a*b  =  21
a/b  =  2.3333333333333335
a//b =  2
a%b  =  1
a**b =  343

## 3.2 Assignment Operators

In [ ]:
a, b = 10, 5
a = b        #a = b
print(a)

5

In [ ]:
a, b = 10, 5
a += b       #a = a + b
print(a)

15

In [ ]:
a, b = 10, 5
a -= b       #a = a - b
print(a)

5

In [ ]:
a, b = 10, 5
a *= b       #a = a * b
print(a)

50

In [ ]:
a, b = 10, 5
a /= b       #a = a / b
print(a)

2.0

In [ ]:
a, b = 10, 3
a %= b       #a = a % b
print(a)

1

In [ ]:
a, b = 10, 5
a //= b       #a = a // b
print(a)

2

In [ ]:
a, b = 10, 5
a **= b       #a = a ** b
print(a)

100000

## 3.3 Unary Operator

In [ ]:
a = -10   #Unary minus (-)
print(a)
a = -a
print(a)

-10
10

## 3.4 Relational Operators

In [ ]:
a, b = 10, 10
print('a==b', a==b)   #Equals to
print('a!=b', a!=b)   #Not equals to
print('a>b', a>b)     #Greater than
print('a>=b', a>=b)   #Greater than or equal to
print('a<b', a<b)     #Less than
print('a<=b', a<=b)   #Less than or equal to

a==b True
a!=b False
a>b False
a>=b True
a<b False
a<=b True

Very much used in if...else:

In [ ]:
if 2 > 3:
  print(True)
else:
  print(False)

False

In [ ]:
a, b = 7, 8
if a > b:
  print('a is greater')
elif b > a:
  print('b is greater')
else:
  print('both are equal')

b is greater

## 3.5 Logical Operators

In [ ]:
a = True
b = True
print(a and b)
print(a or b)
print(not a)

True
True
False

## 3.6 Bitwise Operators

In [ ]:
a, b = 12, 9
print('a:'+bin(a)+'\nb:'+bin(b))
a&b, bin(a&b) #Binary and

a:0b1100
b:0b1001

(8, '0b1000')

In [ ]:
print('a:'+bin(a)+'\nb:'+bin(b))
a|b, bin(a|b) #Binary or

a:0b1100
b:0b1001

(13, '0b1101')

In [ ]:
print('a:'+bin(a)+'\nb:'+bin(b))
a^b, bin(a^b) #Binary xor

a:0b1100
b:0b1001

(5, '0b101')

In [ ]:
print('a:'+bin(a))
~a, bin(~a) #Binary complement -(a+1)

a:0b1100

(-13, '-0b1101')

In [ ]:
print('a:'+bin(a))
a<<2, bin(a<<2) #Binary shift left

a:0b1100

(48, '0b110000')

In [ ]:
print('a:'+bin(a))
a>>2, bin(a>>2) #Binary shift right

a:0b1100

(3, '0b11')

## 3.7 Membership Operators

In [ ]:
a = 'This is a string'
print('i' in a)
print('b' in a)

True
False

In [ ]:
print('i' not in a)
print('b' not in a)

False
True

## 3.8 Identity Operators

In [ ]:
a = 10
b = a
print(a is b, id(a), id(b))
b = 20
print(a is b, id(a), id(b))

True 10914784 10914784
False 10914784 10915104

# 4 Input Output

## 4.1 Input

Geting Input

In [ ]:
var = input('Enter anything: ') #Get input from user as string(by default)
print(var, type(var))

Enter anything: hello
hello <class 'str'>

Getting Input in preferred type

In [ ]:
var = float(input('Enter a number: ')) #Get the input as int
print(var, type(var))

Enter a number: 10.5
10.5 <class 'float'>

Splitting input

In [ ]:
var = input('Enter space separated values: ').split(',') #split() by default splits input by <space>
print(var, type(var), len(var))

Enter space separated values: 10,20,30
['10', '20', '30'] <class 'list'> 3

## 4.2 Output

Formatted Output

In [ ]:
print(f'5 divided by 2 is {5}')

5 divided by 2 is 5

In [ ]:
print('{0} divided by {0} is {1}'.format(5, 5/5))

5 divided by 5 is 1.0

# 5 Containers

## 5.1 List

### 5.1.1 Creating List and Accessing elements

List is an ordered collection of any type and is mutable

In [ ]:
my_list = [1,2,3,'hello']
print(my_list, type(my_list))

[1, 2, 3, 'hello'] <class 'list'>

In [ ]:
print(my_list[1])
print(my_list[0])

2
1

In [ ]:
my_list = [1, 2.5, 'hey', 'hello', 2+3j, [10, 11, 12]]
my_list

[1, 2.5, 'hey', 'hello', (2+3j), [10, 11, 12]]

In [ ]:
my_list[3] = 'replaced'
my_list

[1, 2.5, 'hey', 'replaced', (2+3j), [10, 11, 12]]

In [ ]:
len(my_list) #Get the length of the list i.e. number of elements

6

### 5.1.2 List Slicing

List slicing is a way to access a required part of list

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list[0:4]  #my_list[start:end:step] 
# returns list from satrt position to position end-1

[1, 2, 3, 4]

In [ ]:
my_list[2:] #returns list from position to end

[3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
my_list[:5] #returns list from start to position-1

[1, 2, 3, 4, 5]

In [ ]:
my_list[::2] #returns list with step=2 i.e. skip one element
#By default, step = 1

[1, 3, 5, 7, 9]

In [ ]:
my_list[::] #returns the whole list start=0, end=length of list, step=1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
my_list[::-1] #returns the list in reverse order

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
my_list[-1:-4:-1] #returns the list from -1 to -3

[10, 9, 8]

In [ ]:
my_list[-3:] #returns last 3 elements

[8, 9, 10]

### 5.1.3 List methods

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
min(my_list), max(my_list) #Get the minimum and maximum element in the list

(1, 10)

In [ ]:
my_list.index(3) #gives you the index of the first occurrence of the element

2

In [ ]:
my_list.append('hey') #adds/appends the element at the end of the list
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'hey']

In [ ]:
my_list.insert(5, 0) #inserts data a the given position
my_list

[1, 2, 3, 4, 5, 0, 6, 7, 8, 9, 10, 11, 'hey']

In [ ]:
my_list.append(5)

print(my_list.count(5),my_list)

3 [1, 2, 3, 4, 5, 0, 6, 7, 8, 9, 10, 11, 'hey', 5, 5]

In [ ]:
my_list.remove(5) #removes the first occurrence of the element 
my_list

[1, 2, 3, 4, 0, 6, 7, 8, 9, 10, 11, 'hey', 5, 5]

In [ ]:
var = my_list.pop() #removes and returns the last element from the list
var, my_list

(5, [1, 2, 3, 4, 0, 6, 7, 8, 9, 10, 11, 'hey', 5])

In [ ]:
new_list = my_list.copy() #copies the old list into a new one
new_list

[1, 2, 3, 4, 0, 6, 7, 8, 9, 10, 11, 'hey', 5]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
# list1.extend(list2)
list1 += list2
list1

[1, 2, 3, 4, 5, 6]

In [ ]:
my_list = [8, 1, 5, 7, 2, 0]
# my_list.sort()                  #sort the list in ascending manner
my_list.sort(reverse = True)  #sort the list in descending manner
my_list

[8, 7, 5, 2, 1, 0]

In [ ]:
li = [5,2,6,4,7,56,21]
sorted(li), li       #returns a sorted list and does'nt affects the original list

([2, 4, 5, 6, 7, 21, 56], [5, 2, 6, 4, 7, 56, 21])

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()  #reverse the sequence of elements in the list
my_list

[5, 4, 3, 2, 1]

In [ ]:
my_list.clear() #removes all the elements from the list
my_list

[]

In [ ]:
del my_list
my_list

## 5.2 Tuples

### 5.2.1 Creating Tuples and accessing elements

Tuples are also an ordered collection of any types but are immutable i.e. once formed, they can't be edited

In [ ]:
tup = (1, 2, 3, 'hello', ['list in tuple']) #ceate a tuple manually
tup

(1, 2, 3, 'hello', ['list in tuple'])

In [ ]:
my_list = [1, 2, 3, 'string'] #create a tuple from a list
tup = tuple(my_list)
tup

(1, 2, 3, 'string')

In [ ]:
tup[1]

2

In [ ]:
tup[0] = 2

### 5.2.2 Slicing Tuples

Same as slicing a list

In [ ]:
tup = (1, 2, 3, 'hey', ['inside list'])
tup[1:3], type(tup)

((2, 3), tuple)

In [ ]:
tup[::-1]

(['list'], 'hey', 3, 2, 1)

In [ ]:
tup[-1:-3:-1]

(['list'], 'hey')

### Tuple Methods

In [ ]:
tup = (1, 2, 3, 'string', 'a', [4, 5], 2)
tup.count(2)

2

In [ ]:
tup.index('string')

3

In [ ]:
tup = tup+(1,2,3)  #create a new tuple by joining 2 existing tuples
tup

(1, 2, 3, 'string', 1, 2, 3)

In [ ]:
# create a new tuple from a list after using list methods
my_list = list(tup)
my_list.insert(2,'new object')
new_tup = tuple(my_list)
new_tup

(1, 2, 3, 'string', 'a', [4, 5], 2, 'new object')

In [ ]:
len(tup)

7

In [ ]:
tup = (1, 2, 3, 4, 0)
min(tup), max(tup)

(0, 4)

In [ ]:
sorted(tup)

[0, 1, 2, 3, 4]

## 5.3 Dictionaries

### 5.3.1 Creating Dictionaries and accessing elements

Dictionaries are unordered collections of items(values) mapped with a key. The key should be unique and should be immutable(string, tuple, constants)

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data {key:value}
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"
print(type(d))

cute
True
<class 'dict'>

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

wet

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

In [ ]:
d = dict([(1, 'one'), (2, 'two')]) #create a dictionary from tuples
print(d)
print(type(d))

{1: 'one', 2: 'two'}
<class 'dict'>

### 5.3.2 Dictionary methods

In [ ]:
d = {1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 6:'six'}
d.get(1)	#Returns the value of the specified key

'one'

In [ ]:
d.items()	#Returns a list containing a tuple for each key value pair

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')])

In [ ]:
d.keys()	#Returns a list containing the dictionary's keys

dict_keys([1, 2, 3, 4, 5, 6])

In [ ]:
d.values()	#Returns a list of all the values in the dictionary

dict_values(['one', 'two', 'three', 'four', 'five', 'six'])

In [ ]:
d.update({7:'seven'})	#Updates the dictionary with the specified key-value pairs
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven'}

In [ ]:
d.pop(7)	#Removes the element with the specified key
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [ ]:
d.popitem() #Removes the last inserted key-value pair
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

## 5.4 Sets

### 5.4.1 Creating Sets

A set is an unordered collection which is unindexed and contains unique values

In [ ]:
set1 = {'cat', 'dog'}
print('cat' in set1)   # Check if an element is in a set; prints "True"
print('fish' in set1)  # prints "False"

True
False

### 5.4.2 Set Methods

In [ ]:
set1.add('fish')	#Adds an element to the set
set1

{'cat', 'dog', 'fish'}

In [ ]:
len(set1)

3

In [ ]:
set2 = {'lion', 'cat', 'cow'}
set1.difference(set2)	#Returns a set containing the difference between two or more sets

{'dog', 'fish'}

In [ ]:
set1.intersection(set2)	#Returns a set, that is the intersection of two other sets

{'cat'}

In [ ]:
set1.symmetric_difference(set2)	#Returns a set with the symmetric differences of two sets

{'cow', 'dog', 'fish', 'lion'}

In [ ]:
set1.union(set2)	#Return a set containing the union of sets

{'cat', 'cow', 'dog', 'fish', 'lion'}

In [ ]:
set1.update(set2)	#Update the set with the union of this set and others
set1

{'cat', 'cow', 'dog', 'fish', 'lion'}

In [ ]:
set1.remove('lion') #Removes the specified element
set1

{'cat', 'cow', 'dog', 'fish'}

In [ ]:
set1.pop()	#Removes an element from the set
set1

{'cat', 'cow', 'fish'}

In [ ]:
set1.clear()	#Removes all the elements from the set
set1

set()

# 6 Looping Structure & Comprehensions

## 6.1 Loops

You can loop over the elements of a list like this:

In [ ]:
animals_list = ['cat', 'dog', 'monkey']
for i in animals_list:
    print(i)

cat
dog
monkey

Looping over tuples is the same:

In [ ]:
tup = ('dog', 'fish', 'cow', 'lion')
for animal in tup:
  print(animal)

dog
fish
cow
lion

Looping over dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [ ]:
for key in d.keys():
  print(key)

person
cat
spider

In [ ]:
for val in d.values():
  print(val)

2
4
8

If you want access to the index of each element within the body of a loop, use the built-in enumerate function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for ind, animal in enumerate(animals):
    print('{}: {}'.format(ind + 1, animal))

1: cat
2: dog
3: monkey

To run a loop over a range of numbers, use range():

In [ ]:
for i in range(10): #range gives numbers from 0 to 9
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(2,16): #range gives number from 2 to 15
  print(i, end=' ')

2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [ ]:
for i in range(0,10,2): #range gives even numbers till 9 as step=2
  print(i, end=' ')

0 2 4 6 8

while loops can be used as:

In [ ]:
i = 10
while i > 0:
  print(i, end=' ')
  i -= 1

10 9 8 7 6 5 4 3 2 1

## 6.2 Comprehensions

### 6.2.1 List Comprehension

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

### 6.2.2 Dictionary Comprehension

These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

### 6.2.3 Set Comprehension

In [ ]:
new_set = ({x for x in range(10)})
print(new_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# 7 Functions

## 7.1 Normal function

Python functions are defined using the def keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

## 7.2 Lambda function

Python has a utility called lambda function, which is a small anonymous function. It can take any number of arguments, but can only have one expression. Widely used for small purposes.

In [ ]:
x = lambda a : a + 10   #lambda arguments : expression
print(x(5))

15

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

## 7.3 Map function

The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns a list of the results.

In [ ]:
def calculateSquare(n):
    return n*n


numbers = (1, 2, 3, 4)
result = map(calculateSquare, numbers)
print(result)

numbersSquare = list(result)
print(numbersSquare)

<map object at 0x7f3ed5a39748>
[1, 4, 9, 16]

In [ ]:
numbers = (1, 2, 3, 4)
result = list(map(lambda x: x*x, numbers))
print(result)

## 7.4 Filter

filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.

In [ ]:
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
vowels = ['a', 'e', 'i', 'o', 'u']
# filter(function, iterable)
filteredVowels = filter(lambda x: x in vowels, letters)

print('The filtered vowels are:', list(filteredVowels))

The filtered vowels are: ['a', 'e', 'i', 'o']

## 7.5 Reduce

The reduce() function is used to apply a particular function to all of the elements in an iterable. It is defined in functools module.

In [ ]:
import functools as ft
lis = [ 1 , 3, 5, 6, 2, ] 
  
# using reduce to compute sum of list 
# reduce(function, iterable)
print ('The sum of the list elements is : ',end='') 
print (ft.reduce(lambda a,b : a+b, lis))

The sum of the list elements is : 17

#

# 8 Object Oriented Programming

The syntax for defining classes in Python is straightforward:

In [ ]:
# define a class with class keyword and classname
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

5

Defining classes with a constructor

In [ ]:
class Greeter:

    # Constructor
    def __init__(self, fname):
        self.name = fname  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred!
HELLO, FRED

Inheritance

In [ ]:
class Person:
  def __init__(self, name):
    self.name = name
  def getname(self):
    return self.name

class Student(Person):
  def __init__(self):
    self.name = ''
  def setname(self, name):
    self.name = name

s = Student()
s.setname('Joey')
print(s.getname())

Joey

# 9 File Handling

Working with files in Python is very easy. The key function for working with files in Python is the open() function.
The open() function takes two parameters; filename, and mode.


---


There are four different methods (modes) for opening a file:

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists


---


In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

In [ ]:
f = open('textfile.txt', 'w') #opening file in writemode and creates a new file if not found
line = 'This is the first line\nThis is the second line'
f.write(line) #writing the line in file
f.close() #closing the file

Reading a whole file in one go

In [ ]:
f = open('textfile.txt', 'r') #opening file in read mode
print(f.read()) #reading the whole file
f.close()

This is the first line
This is the second line

Reading only one line from file

In [ ]:
f = open('textfile.txt', 'r')
print(f.readline()) #reading only one line from current position(start)
print(f.readline())
f.close()

This is the first line

This is the second line

Reading the whole file as lines

In [ ]:
f = open('textfile.txt', 'r')
lines = f.readlines() #reading the whole file as a list of lines
for line in lines:
  print(line)
f.close()

This is the first line

This is the second line

Another way to open a file:

In [ ]:
with open('textfile.txt', 'r') as f:
  print(f.readline().strip()) #Read a line and using strip to get read of newline character
  print(f.read(6)) #Read specified number of characters from current position
  print(f.tell()) #	Returns the current file position

This is the first line
This i
29

Opening the file in write mode which deletes the previous present data:

In [ ]:
with open('textfile.txt', 'w') as f:
  f.write('This will be the only line present as write mode deletes the previous data')

In [ ]:
with open('textfile.txt', 'r') as f:
  print(f.read())

This will be the only line present as write mode deletes the previous data

Opening the file in append mode:

In [ ]:
with open('textfile.txt', 'a') as f:
  f.write('\nThis will not delete the previous content because it has been opened in append mode')

In [ ]:
with open('textfile.txt', 'r') as f:
  print(f.read())

This will be the only line present as write mode deletes the previous data
This will not delete the previous content because it has been opened in append mode

# 10 Exception Handling

## 10.1 Try Except Finally

The try block lets you test a block of code for errors.

The except block lets you handle the error.

The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [ ]:
del var
try:
  print(var)
except:
  print('An exception occurred')
finally:
  print('This will always execute')

An exception occurred
This will always execute

## 10.2 Many exceptions

You can define as many exception blocks as you want, e.g. if you want to execute a special block of code for a special kind of error:

In [ ]:
try:
  print(var)
except NameError:
  print('Variable var is not defined')
except:
  print('Something else went wrong')

Variable var is not defined

In [ ]:
try:
  print(10/0)
except ZeroDivisionError:
  print('You cannot divide by 0')
except:
  print('Something else went wrong')

You cannot divide by 0

## 10.3 Else

You can use the else keyword to define a block of code to be executed if no errors were raised:

In [ ]:
try:
  print("Hello")
  print(var)
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Something went wrong

## 10.4 Raise an exception

To throw (or raise) an exception, use the raise keyword.

In [ ]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")